<h2> List of categories </h2>
<hr>

{{#each categories}}
    <div class="card mt-4">
        <div class="card-body">
            <h4> {{name}} </h4>
            <small>Slug: {{slug}} </small> <br>
            <small>Date of creation: {{date}}</small><br>
            <a href="/admin/categories/edit/{{_id}}"><button class="btn btn-success mt-4"> Edit </button></a>
        </div>
    </div>
{{else}}
{{/each}}

<br>
<a href="/admin/categories/add"><button class="btn btn-success"> New category </button></a>
