<h2> List of post </h2>
<hr>

{{#each posts}}
<div class="card mt-4">
    <div class="card-body">
        <h4> {{title}} </h4><br>
        <p> Description: {{description}}</p>
        <p>Content: {{content}}</p>
        <p>Category: {{category.name}}</p>
        <small>Slug: {{slug}}</small><br>
        <small>Date: {{date}}</small><br>
        
        <form action="javascript:void(0)" method="post" name="buttons">
            <input type="hidden" name="id" value="{{_id}}">
            <input type="button" class="btn btn-primary mt-4" onclick="submitForm('Edit')" value='Edit' />
            <input type="button" class="btn btn-danger mt-4" onclick="submitForm('Delete')" value='Delete' />
        </form>

        <script type="text/javascript">
            function submitForm(action) {
                if (action == 'Edit') {
                    document.forms.buttons.action = "/admin/posts/edit/{{_id}}";
                    document.forms.buttons.submit();
                } else if (action == 'Delete') {
                    document.forms.buttons.action = "/admin/posts/delete";
                    document.forms.buttons.submit();
                }
            }
        </script>

    </div>
</div>

{{else}}
<p> No posts registered! </p>
{{/each}}

<a href="/admin/posts/add"><button class="btn btn-success mt-4"> New post </button></a>