<h2 class="text-center"> List of post </h2>

<a href="/admin/posts/add" class="btn btn-primary btn-lg mb-3 mt-4"> New post </a>

{{#each posts}}
<div class="card mt-4" id="format2">
    <div class="card-body text-justify">
        <h4 class="text-center mb-4"> {{title}} </h4>
        <p> Description: {{description}}</p>
        <p>Content: {{content}}</p>
        <p>Category: {{category.name}}</p>
        <p>Slug: {{slug}}</p>
        <p>Create dates: {{#formatDate date}}{{/formatDate}}</p>

        <table>
            <tr>
                <td>
                    <a href="/admin/posts/edit/{{_id}}" class="btn btn-success mt-2"> Edit</a>
                </td>
                <td>
                    <form action="/admin/posts/delete" method="POST">
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="btn btn-danger mt-2"> Delete </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

{{else}}
<p> No posts registered! </p>
{{/each}}

<footer>
    &copy; 2020 <a href="mailto:ruthmariia01@gmail.com" id="copyright">Ruth Maria</a>, Inc. All rights reserved.
</footer>