<div class="jumbotron">
  <h1 class="display-4">Wellcome to this blog with Node.JS</h1>
  <p class="lead">This is a simple blog, developed with Node.js + Express + MongoDB</p>
  <hr class="my-4">
  <p>Here you will be able to read the news from the world of computing</p><br>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create an account</a>
</div>

<h2>Recent posts</h2>
{{#each posts}}
<div class='card mt-4'>
  <div class="card-body">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <a href="/post/{{slug}}" class="btn btn-success">Read more</a>
    <hr>    
    <small>Category: {{category.name}}</small><br>
    <small>Publish date: {{#formatDate date}}{{/formatDate}}</small>
  </div>
</div>
{{else}}
<h5>No posts</h5>
{{/each}}